
.pull-right {
float: right !important;
}

.pull-left {
float: left !important;
}

#bcont
{
    padding-top: 25px;
}
#index_title
{
    font-size: 5em;
}
#marg
{
     padding-top: 15px;
}
.img_post {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
